*{
    margin: 0;
    padding: 0;
    background-color: black;
}
.detalhes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  100px;
}
.detalhes div{
    padding: 14px;
}
@media (max-width: 450px){
    .detalhes {
       margin: 20px;
       padding: 10px 20px;
    }
}